services:
  app:
    container_name: ${APP_NAME}_app
    hostname: ${APP_NAME}
    build:
      context: .
      dockerfile: Dockerfile
    depends_on:
      kafka:
        condition: service_healthy
    ports:
      - "${API_PORT}:${API_PORT}"
    environment:
      KAFKA_BROKERCONNECT: ${KAFKA_BROKERCONNECT}
      API_PORT: ${API_PORT}
    env_file:
      - .env
    healthcheck:
      test: ["CMD", "curl", "-f", "http://localhost:${API_PORT}/status"]
      interval: 10s
      timeout: 5s
      retries: 3

  zookeeper:
    container_name: ${APP_NAME}_zookeeper
    image: confluentinc/cp-zookeeper:7.8.0
    ports:
      - ${ZOOKEEPER_CLIENT_PORT}:2181
      - 2888:2888
      - 3888:3888
    environment:
      ZOOKEEPER_CLIENT_PORT: ${ZOOKEEPER_CLIENT_PORT}
      ZOOKEEPER_TICK_TIME: ${ZOOKEEPER_TICK_TIME}

  kafka:
    image: confluentinc/cp-kafka:7.9.1
    container_name: ${APP_NAME}_kafka
    depends_on:
      - zookeeper
    ports:
      - ${KAFKA_PORT}:9092
      - ${KAFKA_BROKERCONNECT_PORT}:29092
    environment:
      KAFKA_BROKER_ID: 1
      KAFKA_ZOOKEEPER_CONNECT: "zookeeper:${ZOOKEEPER_CLIENT_PORT}"
      KAFKA_LISTENER_SECURITY_PROTOCOL_MAP: PLAINTEXT:PLAINTEXT,PLAINTEXT_HOST:PLAINTEXT
      KAFKA_ADVERTISED_LISTENERS: PLAINTEXT_HOST://localhost:${KAFKA_BROKERCONNECT_PORT},PLAINTEXT://kafka:${KAFKA_PORT}
      KAFKA_OFFSETS_TOPIC_REPLICATION_FACTOR: ${KAFKA_OFFSETS_TOPIC_REPLICATION_FACTOR}
      KAFKA_GROUP_INITIAL_REBALANCE_DELAY_MS: 0
      KAFKA_TRANSACTION_STATE_LOG_MIN_ISR: 1
      KAFKA_TRANSACTION_STATE_LOG_REPLICATION_FACTOR: 1
      KAFKA_AUTO_CREATE_TOPICS_ENABLE: 'true'
      KAFKA_DELETE_TOPIC_ENABLE: 'true'
    healthcheck:
      test: ["CMD", "nc", "-z", "-v", "-w3", "kafka", "${KAFKA_PORT}"]
      interval: 10s
      timeout: 5s
      retries: 3

  kafka-create-topics:
    image: confluentinc/cp-server:7.3.5
    container_name: ${APP_NAME}_kafka-create-topics
    depends_on:
      kafka:
        condition: service_healthy
    command: >
      bash -c
        "kafka-topics --create --topic=${KAFKA_TOPIC_SAMPLE} --if-not-exists --bootstrap-server=${KAFKA_BROKERS_SERVERS}"

  akhq:
    image: tchiotludo/akhq:0.26.0
    container_name: ${APP_NAME}_akhq
    hostname: akhq
    ports:
      - ${AKHQ_PORT}:8080
    expose:
      - ${AKHQ_PORT}
    depends_on:
      kafka:
        condition: service_healthy
    environment:
      AKHQ_CONFIGURATION: |
        akhq:
          connections:
            docker-kafka-server:
              properties:
                bootstrap.servers: ${KAFKA_BROKERS_SERVERS}
              schema-registry:
                url: "http://schema-registry:${SCHEMA_REGISTRY_PORT}"

  mkdocs:
    container_name: kafrest_mkdocs
    build:
      context: .
      dockerfile: Dockerfile.mkdocs
    image: kafrest-mkdocs-image
    environment:
      MKDOCS_PORT: ${MKDOCS_PORT}
    ports:
      - "${MKDOCS_PORT}:${MKDOCS_PORT}"
    volumes:
      - ./docs:/app/docs
      - ./mkdocs.yml:/app/mkdocs.yml
