# =====================================
# Project Information
# =====================================
site_name: KafREST
site_url: https://mauricioromagnollo.github.io/kafrest/
site_author: Maurício Romagnollo

# =====================================
# Repository
# =====================================
repo_name: Github
repo_url: https://github.com/mauricioromagnollo/kafrest/

# =====================================
# Copyright
# =====================================
copyright: Copyright &copy; 2023 - Maurício Romagnollo

# =====================================
# Theme
# =====================================
theme:
  name: material
  favicon: assets/favicon.ico
  logo: assets/favicon.ico
  font:
    text: Roboto
    code: Roboto Mono
  icon:
    logo: logo
  palette:
    - scheme: default
      primary: indigo
      accent: indigo
      toggle:
        icon: material/weather-night
        name: Switch to dark mode
    - scheme: slate
      primary: black
      accent: indigo
      toggle:
        icon: material/weather-sunny
        name: Switch to light mode
  features:
    # - announce.dismiss
    # - content.action.edit
    # - content.action.view
    - content.code.annotate
    - content.code.copy
    # - content.code.select
    # - content.tabs.link
    # - content.tooltips
    # - header.autohide
    # - navigation.expand
    # - navigation.footer
    # - navigation.indexes
    # - navigation.instant
    # - navigation.prune
    # - navigation.sections
    - navigation.tabs
    - navigation.tabs.sticky
    - navigation.top
    # - navigation.tracking
    # - search.highlight
    # - search.share
    # - search.suggest
    # - toc.follow
    # - toc.integrate

extra_css:
  - stylesheets/extra.css

# =====================================
# Plugins
# =====================================
# plugins:
#   - minify:
#       minify_html: true

# =====================================
# Extensions - Markdown
# =====================================
markdown_extensions:
  - abbr
  - admonition
  - attr_list
  - def_list
  - footnotes
  - md_in_html
  # - toc:
  #     permalink: true
  - pymdownx.arithmatex:
      generic: true
  - pymdownx.betterem:
      smart_enable: all
  - pymdownx.caret
  - pymdownx.details
  - pymdownx.emoji:
      emoji_generator: !!python/name:material.extensions.emoji.to_svg
      emoji_index: !!python/name:material.extensions.emoji.twemoji
  - pymdownx.highlight:
      anchor_linenums: true
      line_spans: __span
      pygments_lang_class: true
  - pymdownx.inlinehilite
  - pymdownx.keys
  - pymdownx.magiclink:
      normalize_issue_symbols: true
      repo_url_shorthand: true
      user: squidfunk
      repo: mkdocs-material
  - pymdownx.mark
  - pymdownx.smartsymbols
  # - pymdownx.snippets:
  #     auto_append:
  #       - includes/mkdocs.md
  - pymdownx.superfences:
      custom_fences:
        - name: mermaid
          class: mermaid
          format: !!python/name:pymdownx.superfences.fence_code_format
  - pymdownx.tabbed:
      alternate_style: true
      combine_header_slug: true
      slugify: !!python/object/apply:pymdownx.slugs.slugify
        kwds:
          case: lower
  - pymdownx.tasklist:
      custom_checkbox: true
  - pymdownx.tilde

# =====================================
# Exclude Files When Compile
# =====================================
exclude_docs: |
  drafts/
  *.py
  !/foo/example.py
  tmp/

# =====================================
# Footer
# =====================================
extra:
  generator: false
  annotate:
    json: [.s2]
  social:
    - icon: fontawesome/brands/github
      link: https://github.com/mauricioromagnollo
    - icon: fontawesome/brands/instagram
      link: https://www.instagram.com/mauricioromagnollo/
    - icon: fontawesome/brands/linkedin
      link: https://www.linkedin.com/in/mauricioromagnollo/

# =====================================
# Exclude in Navigation
# =====================================
not_in_nav: |
  /private.md

# =====================================
# Navigation
# =====================================
nav:
  - Kafrest: 'INDEX.md'
  - Contributing: 'CONTRIBUTING.md'
